h1{
    color: rgb(255, 125, 255);
}
body {
    background-color: rgb(22, 22, 22);
    font-size: 20px;
    font-family: 'Verdana';
    color: rgb(255, 180, 255);
}

a{
    text-decoration: none;
    color: #ea00ff;
}

img{
    width: 2000px;
}

h2{
    color: rgb(255, 125, 255);
}

h1{
    font-family: 'italic';
    font-size: 50px;
    text-align: center;
}

h2{
    font-family: 'italic';
    font-size: 30px;
}

div{
    border: solid 1px plum;
}

h3{
    color: rgb(255, 125, 255);
    font-family: 'italic';
    font-size: 30px;
}

h4{
    color: rgb(255, 125, 255);
    font-family: 'italic';
    font-size: 30px;
}

