h1{
    font-style: normal;
    font-size: 5vh;
    text-align: center;
    color: rgb(146, 184, 197);
}

p{
    font-size: 3vh;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(98, 136, 141);
}

img{
    display:  block;
    width: 30vh;
    margin: auto;
    border-radius: 10px;
    border: solid, black;
}

h2{
    font-style: normal;
    font-size: 4vh;
    text-align: center;
    color: rgb(9, 146, 192);
}

iframe{
    width: 60%;
    display: block;
    margin: auto;
    min-width: 250px;
}

body{
    background-image: linear-gradient(lightcyan, lightblue);
}

h3{
    font-style: normal;
    font-size: 3.5vh;
    text-align: center;
    color: rgb(78, 153, 179);
}

#wv{
    width: 15%;
    min-width: 250px;
    display: block;
    min-width: 250px;
}

lu{
    font-size: 3vh;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(98, 136, 141);
    display: block;
}

#w2{
    width: 15%;
    display: block;
    margin: auto;
    min-width: 250px;
}

#w{
    width: 15%;
    display: block;
    margin: auto;
    min-width: 250px;
}

#v{
    width: 15%;
    display: block;
    min-width: 250px;
}

#card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.wave{
    width: 99%;
}

.earth{
    width: 97%;
}

.we{
    width: 99%;
}

.e{
    width: 99%;
}

.t{
    width: 105%;
}

caption{
    text-align: center;
    color: rgb(9, 146, 192);
    font-size: 3.5vh;
    font-style: normal;
    font-weight: bold;
}
table{
    border-collapse: collapse;
    border: solid, 1px, rgb(1, 1, 92);
    background-color: rgb(144, 197, 218);
    width: 40vw;
    min-width: 300px;
    min-height: 350px;
    max-width: 40vw;
    max-height: 40vw;
    height: 50vh;
    margin: auto;
    table-layout: fixed;
}
thead{
    height: 5vh;
    background-color:  rgb(9, 146, 192);
}
td{
    border: solid, 1px, rgb(1, 1, 92);
    text-align: center;
    height: 3vh;
    font-style: normal;
}
th{
    font-style: normal;
    border: solid, 1px, rgb(1, 1, 92);
}
tr{
    border: solid, 1px, rgb(1, 1, 92);
}
table tr:nth-child(even){
    background-color:  rgb(89, 149, 168);
}

tfoot td{
    text-align: right;
    padding-right: 1%;
}