h1{
    font-style: normal;
    font-size: 5vh;
    text-align: center;
    color: rgb(146, 184, 197);
}

p{
    font-size: 3vh;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(98, 136, 141);
}

img{
    display:  block;
    width: 30vh;
    margin: auto;
    border-radius: 10px;
    border: solid, black;
}

h2{
    font-style: normal;
    font-size: 4vh;
    text-align: center;
    color: rgb(9, 146, 192);
}

iframe{
    width: 30vh;
    height: 43vh;
    display: block;
    margin: auto;
    padding: 0;
}

body{
    background-image: linear-gradient(lightcyan, lightblue);
}

h3{
    font-style: normal;
    font-size: 3.5vh;
    text-align: center;
    color: rgb(78, 153, 179);
}

.wv{
    width: 20vh;
    height: 20vh;
    display: block;
    margin: auto;
}

lu{
    font-size: 3vh;
    text-align: center;
    margin-left: 20vw;
    margin-right: 20vw;
    color: rgb(98, 136, 141);
    display: block;
}

h4{
    font-style: normal;
    font-size: 3.5vh;
    text-align: center;
    color: rgb(9, 146, 192);
}

.w2{
    width: 20vh;
    height: 20vh;
    display: block;
    margin: auto;
    padding: 0;
    display: block;
}