body{
    background-color: rgb(233, 173, 255);
}

#principal{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}

h1{
    font-size: 4.5vh ;
    text-align: center;
    font-family: cursive;
    font-style: normal;
    color: #8e0d9a;
}

p{
    font-size: 3.5vh ;
    text-align: center;
    font-family: 'Cantarell';
    font-style: normal;
    color: #690073;
    margin-left: 20vw;
    margin-right: 20vw;
}

main{
    height: 82vh;
    width: 100vw;
}

.playlist{
    width: 60%;
    display: block;
    margin: auto;
    min-width: 250px;
}

#secundaria{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}

#zizi{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}

#family{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}

#sis{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}

.curitiba{
    width: 30vw;
    margin: auto;
    display: block;
    border-radius: 25px;
    max-width: 500px;
    min-width: 200px;
    margin-bottom: 2%;
}