*{
    margin: 0;
    padding: 0;
}

ul{
    list-style-type: none;
}

header{
    height: 100px;
    background-color: rgb(222, 163, 236);
}

.menu{
    display: flex;
    height: 100px;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.link-menu{
    font-size: 20px;
    color: blueviolet;
    text-decoration: none;
}

.link-menu:hover{
    color:darkmagenta;
}

.item-menu{
    position: relative;
}

.item-menu:hover .submenu{
    max-height: 100vh;
}

.submenu{
    position: absolute;
    left: 10px;
    width: max-content;
    max-width: 0;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 2px;
    transition: 1s;
}

.link-submenu{
    font-size: 20px;
}

.div1, .div2, .div3{
    width: 500px;
    height: 100px;
}

.div1{
    background-color: rgb(212, 125, 252);
}

.div2{
    background-color: rgb(194, 63, 255);
}

.div3{
    background-color: rgb(147, 68, 180);
}

@media (min-width: 600px){
    .div1, .div3{
        max-width: 200px;
    }
    .div2{
        display: flex;
    }
}