h1{
    color: rgb(245, 44, 138);
    font-family: 'italic';
    font-size: 50px;
    text-align: center;
}
body {
    background-color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: Verdana,Tahoma;
    color: rgb(255, 126, 197);
}

a{
    text-decoration: none;
    color: #e640bc;
    font-size: 25px;
    border: solid;
    border-radius: 8px;
    border-color: #f17fd5;
    background-color: #ffb2ec;
    text-align: right;
}

#duasvezes{
    width: 1900px;
}

h2{
    color: rgb(248, 74, 176);
    font-family: 'italic';
    font-size: 30px;
}

h3{
    color: rgb(248, 74, 176);
    font-family: 'italic';
    font-size: 30px;
}

h4{
    color: rgb(248, 74, 176);
    font-family: 'italic';
    font-size: 30px;
}

#candy{
    width: 500px;
    display: block;
    margin: auto;
    size: 20px;
}

img{
    width: 500px;
    display: block;
    margin: auto;
    size: 20px;
}

#misamo{
    width: 528px;
    display: block;
    margin: auto;
    size: 20px;
}

h5{
    color: rgb(248, 74, 176);
    font-family: 'italic';
    font-size: 30px;
}

#pop{
    width: 528px;
    display: block;
    margin: auto;
    size: 20px;
}

h6{
    color: rgb(248, 74, 176);
    font-family: 'italic';
    font-size: 30px;
}

iframe{
    padding: 10px;

}

#hyo{
    width: 528px;
    display: block;
    margin: auto;
    size: 20px;
}

.spotify{
    width: 500px;
    height: 352px;
    margin: auto;
    display: flex;
    justify-self: center;
    align-items: center;
}

.fy{
    width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    justify-self: center;
    align-items: center;
}

header{
    position: fixed;
    width: 97%;
    height: 40px;
    text-align: center;
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-size: 30px;
    font-family: Verdana;
    background-size: cover;
    background-repeat: no-repeat;
}

.ancora{
    display: inline;
    left: 0%;
    text-decoration: none;
    color: #ffb2ec;
    font-size: 18px;
}